# Stock Symfony 2.7 rules
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/

# IDE meta files
.idea

# The repo has a minimal SQLite file already checked in - ignore future changes
app/data/recipes.db3
